* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    background-color: rgb(46, 46, 46);
}

/*Rows */

.container {
    max-width: 100%;
    background-color: rgb(117, 191, 252);
    height: 40px;
}

.container-blue {
    max-width: 100%;
    background-color: blue;
    height: 200px;
}

.container-white {
    max-width: 100%;
    background-color: white;
    height: 230px;
}

.container-grey {
    max-width: 100%;
    background-color: grey;
    height: 230px;
}

.container-grey2 {
    max-width: 100%;
    background-color: grey;
    height: 410px;
}

.container-black {
    max-width: 100%;
    background-color: rgb(46, 46, 46);
    height: 300px;
}

.container-black2 {
    max-width: 100%;
    background-color: rgb(46, 46, 46);
    height: 85px;
}

.mini {
    width: 50%;
    background-color: aquamarine;
    height: 70px;
    margin-top: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Columns */

.col1 {
    width: 10%;
    height: 20px;
    background-color: orange;
    border: 1px dashed  black;
    margin: 9px 0 auto;
}

.col2 {
    width: 30%;
    height: 20px;
    background-color: orange;
    border: 1px dashed  black;
    margin: 9px 0 auto;
}

.col3 {
    width: 10%;
    height: 20px;
    background-color: orange;
    border: 1px dashed  black;
    margin: 9px 0 auto;
}

.col4 {
    width: 40%;
    height: 180px;
    background-color: fuchsia;
    border: 1px dashed  black;
    margin: 10px;
}

.col5 {
    width: 35%;
    height: 200px;
    background-color: dodgerblue;
    border: 1px dashed  black;
    margin: 15px 0 auto;
}

.col6 {
    width: 15%;
    height: 200px;
    background-color: pink;
    border: 1px dashed  black;
    margin: 15px 0 auto;
}

.col7 {
    width: 15%;
    height: 200px;
    background-color: pink;
    border: 1px dashed  black;
    margin: 15px 0 auto;
}

.col8 {
    width: 35%;
    height: 200px;
    background-color: dodgerblue;
    border: 1px dashed  black;
    margin: 15px 0 auto;
}

.col9 {
    width: 35%;
    height: 200px;
    background-color: dodgerblue;
    border: 1px dashed  black;
    margin: 15px 0 auto;
}

.col10 {
    width: 15%;
    height: 200px;
    background-color: pink;
    border: 1px dashed  black;
    margin: 15px 0 auto;
}

.col11 {
    width: 50%;
    height: 380px;
    background-color: green;
    border: 1px dashed  black;
    margin: 15px;
}

.col12 {
    width: 18%;
    height: 280px;
    background-color: salmon;
    border: 1px dashed  black;
    margin: 15px 0 auto;
}

.col13 {
    width: 8%;
    height: 280px;
    background-color: teal;
    border: 1px dashed  white;
    margin: 15px 0 auto;
}

.col14 {
    width: 8%;
    height: 280px;
    background-color: teal;
    border: 1px dashed  white;
    margin: 15px 0 auto;
}

.col15 {
    width: 8%;
    height: 280px;
    background-color: teal;
    border: 1px dashed  white;
    margin: 15px 0 auto;
}

.col16 {
    width: 8%;
    height: 280px;
    background-color: teal;
    border: 1px dashed  white;
    margin: 15px 0 auto;
}

/* Elements */

.content1 {
    padding: 3px;
}

#link {
    text-align: center;
}

#login {
    text-align: right;
}

#line {
    margin-top: 10px;
}

#logo {
    width:76px;
    height: 4px;
    background-color: pink;
    border: 1px dashed black;
    text-align: center;
    padding: 3px;
    line-height: 7;
}

#btn {
    width: 9px;
    height: 4px;
    background-color: pink;
    border: 1px dashed black;
    text-align: center;
    padding: 3px;
    line-height: 7;
    margin-left: 639px;
}